{% extends 'cryptoapp/base.html' %}

{% block action %}
    {{ action }}
{% endblock action%}

{% block content %}
    <h3>{{ action }}</h3>
    {% if all_dicts %}
        <table>
            <thead>
                <tr>
                    <th></th>
                   
                </tr>
            </thead>
            <tbody>
                {% for dict in all_dicts %}
                    <tr>
                    
                      
                        <td> <a href="{% url 'dicts_szczegoly' dict.id %}" class="button-19">{{ dict.name }}</a></td>
                        
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <p>
            <a href="{% url 'index' %}"> Powrót do strony głównej</a>
        </p>
    {% else %}
        <p>Nie dodano żadnego słownika</p>
    {% endif %}
{% endblock content %}